.tittleContainer {
    width: 100%;
    min-height: 50vw;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    .background {
        width: 80%;
        height: auto;
        position: absolute;
        
        top: 0;
        left : 0;
        z-index: -1;
    }

    .background2 {
        width: 90%;
        height: auto;
        position: absolute;
        
        top: 0;
        right : 0;
        z-index: -2;
    }

    .menuBar{
        z-index: 0;
    }

    .tittleInfo{
        z-index: 0;
    }
}
