.bannerContainer {
    width: 100%;
    min-height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
    display: flex;

    .backgroundLeft {
        font-family: "Montserrat";
        font-size: 40px;
        font-weight: 700;
        color: white;
        padding-top: 170px;
        padding-left: 60px;
        background-color: #6421FF;
        width: 45%;
        height: auto;
    }
    .bannerImg {
        width: 55%;
        height: 100%;
    }
}
